.bgimg {
  background-image: url("/src/images/drimg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 900px) {
  .bgimg {
    background-image: none;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  .block {
    padding: 80px 0px 160px;

    h1 {
      font-size: 60px;
      line-height: 1.2;
      letter-spacing: -1.2px;
      text-transform: capitalize;
      color: #2ba195;
    }
  }
}

.letter-spacing {
  letter-spacing: 2px;
}

.text-color {
  color: blue;
}

.text-color-2 {
  color: violet;
}

.divider {
  width: 100px;
  height: 5px;
  background: #1b655d;
}
